In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [52]:
#Form: df = pd.read_csv("data.txt", sep="\t")

df_reviews = pd.read_csv("../../zippedData/rt.reviews.tsv.gz", sep="\t",encoding ="latin")

In [53]:
df_reviews

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [35]:
df_reviews.columns

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

In [36]:
df_reviews['rating'].value_counts()

3/5      4327
4/5      3672
3/4      3577
2/5      3160
2/4      2712
         ...
5.2         1
5/4         1
7.7         1
2.6/5       1
4.2/5       1
Name: rating, Length: 186, dtype: int64

In [37]:
df_reviews['critic'].value_counts()

Emanuel Levy          595
Roger Ebert           461
Dennis Schwartz       413
Nell Minow            372
James Berardinelli    348
                     ...
Raju Mudhar             1
Scott Beggs             1
Moira Walsh             1
Dave McCoy              1
Daniel Goodwin          1
Name: critic, Length: 3496, dtype: int64

In [38]:
df_reviews['top_critic'].value_counts()

0    41336
1    13096
Name: top_critic, dtype: int64

In [39]:
df_reviews['publisher'].value_counts()

eFilmCritic.com          673
EmanuelLevy.Com          591
New York Times           590
Washington Post          565
Entertainment Weekly     541
                        ...
Glue Magazine              1
Cloture Club               1
Organica News              1
Time to Play Magazine      1
bibloi.com                 1
Name: publisher, Length: 1281, dtype: int64

In [19]:
#df['two'].between(-0.5, 0.5, inclusive=False)

#df_reviews['rating'].between(0,5, inclusive=False)

(0 <= df_reviews['rating']) & (df_reviews['rating'] <=5)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [40]:
df_reviews.select_dtypes(include=['number'])

         id  top_critic
0         3           0
1         3           0
2         3           0
3         3           0
4         3           0
...     ...         ...
54427  2000           1
54428  2000           0
54429  2000           0
54430  2000           0
54431  2000           0

[54432 rows x 2 columns]

In [41]:
df_reviews.select_dtypes(include=['object'])

,review,rating,fresh,critic,publisher,date
0,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,Patrick Nabarro,"November 10, 2018"
1,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,io9.com,"May 23, 2018"
2,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,Stream on Demand,"January 4, 2018"
3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,MUBI,"November 16, 2017"
4,... a perverse twist on neorealism...,NaN,fresh,NaN,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...
54427,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,Village Voice,"September 24, 2002"
54428,NaN,1/5,rotten,Michael Szymanski,Zap2it.com,"September 21, 2005"
54429,NaN,2/5,rotten,Emanuel Levy,EmanuelLevy.Com,"July 17, 2005"
54430,NaN,2.5/5,rotten,Christopher Null,Filmcritic.com,"September 7, 2003"
54431,NaN,3/5,fresh,Nicolas Lacroix,Showbizz.net,"November 12, 2002"

In [59]:
df_reviews_ratings = df_reviews[df_reviews[['rating']].notnull().all(1)]
#df[df[['this_column']].notnull().all(1)]
df_reviews_ratings

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"
...,...,...,...,...,...,...,...,...
54424,2000,Dawdles and drags when it should pop; it doesn...,1.5/5,rotten,Manohla Dargis,1,Los Angeles Times,"September 26, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [43]:
#df_reviews_ratings = df_reviews_ratings[df_reviews_ratings[['']]]

AttributeError: 'function' object has no attribute 'fillna'

In [60]:
df_reviews_ratings.notnull().sum()

id            40915
review        35379
rating        40915
fresh         40915
critic        38935
top_critic    40915
publisher     40688
date          40915
dtype: int64